{% extends "master.html" %}

{% block titulo %} Accionistas {% endblock %}

{% block navegacion %}
    <a class="btn btn-primary" href="#">Cuenta</a>
    <a class="btn btn-primary" href="#">Convertirse en Accionista</a>
{% endblock %}


{% block contenido %}
    <h1>Nuestros accionistas</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus repudiandae excepturi ad iusto, quaerat dicta blanditiis deserunt quae, natus fuga culpa? Laboriosam voluptas vero nihil delectus modi culpa! Explicabo, magnam.</p>
    <!-- TABLA CON LOS DATOS DE LA DB.Accionistas -->
    {% if accionistas %}
        <table  class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Asociado</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                {% for item in accionistas %}
                <tr>
                    <td>{{ item.nombre }}</td>
                    <td>{{ item.fecha_asociacion }}</td>
                    <td>{{ item.monto}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div  class="alert alert-danger">POR AHORA NADIE MUERDE EL SEBO >:(</div>
    {% endif %}
    <div class="text-center">
        <a href="rest/" class="animate__animated animate__pulse animate__infinite btn btn-danger ">Usar API publica</a>
    </div>
{% endblock %}
