{% extends "master.html" %}

{% block titulo %} Inicio {% endblock %}

{% block navegacion %}
    <a class="btn btn-primary" href="../accionistas/">Accionistas</a>
    | 
    <a class="btn btn-primary" href="#">Cuenta</a>
    <a class="btn btn-primary" href="#">Registrarse</a>
{% endblock %}


{% block contenido %}
    <h1>Invirtiendo en ti desde el 2022</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus repudiandae excepturi ad iusto, quaerat dicta blanditiis deserunt quae, natus fuga culpa? Laboriosam voluptas vero nihil delectus modi culpa! Explicabo, magnam.</p>
    <div class="row">
        <div class="col">
            <div class="text-center" style="box-shadow: rgba(0, 157, 255, 0.4) -5px 5px, rgba(0, 157, 255, 0.3) -10px 10px, rgba(0, 157, 255, 0.2) -15px 15px, rgba(0, 157, 255, 0.1) -20px 20px, rgba(0, 157, 255, 0.05) -25px 25px;">
                <img src="../../static/images/LaBolsa.png" width="100%">
                <h4>Te ayudamos con acciones en la bolsa</h4>
            </div>
        </div>
        <div class="col">
            <div class="text-center" style="box-shadow: rgba(0, 157, 255, 0.4) 0px 5px, rgba(0, 157, 255, 0.3) 0px 10px, rgba(0, 157, 255, 0.2) 0px 15px, rgba(0, 157, 255, 0.1) 0px 20px, rgba(0, 157, 255, 0.05) 0px 25px;">
                <img src="../../static/images/pgincipal.png" width="100%">
                <h4>Somos una gran familia</h4>
            </div>
        </div>
        <div class="col">
            <div class="text-center" style="box-shadow: rgba(0, 157, 255, 0.4) 5px 5px, rgba(0, 157, 255, 0.3) 10px 10px, rgba(0, 157, 255, 0.2) 15px 15px, rgba(0, 157, 255, 0.1) 20px 20px, rgba(0, 157, 255, 0.05) 25px 25px;">
                <img src="../../static/images/Hipotecas.png" width="100%">
                <h4>Te ayudamos en eso también</h4>
            </div>
        </div>
    </div>
{% endblock %}
